@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* input {
  transition: 0.3s ease;
}

.

input:focus {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
} */

#gayab {
  display: none;
  /* display: block; */
}

.space-new {
  /* display: none; */
  margin-top: 69px !important;
}
/* 
#main {
  display: none;
} */

.black-btn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar li {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.navbar {
  padding: 13px 134px;
  background-color: rgb(255, 255, 255);
}

.navbar i {
  color: #ee408a;
}

.hidden-menus {
  z-index: 80;
  width: 100%;
  right: -100%; /* Start off-screen */
  top: 70px;
  transition: right 0.3s ease; /* Transition for right property */
  display: none;
}

.hidden-menus.active {
  display: block;
  right: 0; /* Slide in to show */
}

.logo {
  width: 90px;
}

.menu {
  display: none;
  font-size: 23px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background: url("/photo/bg.jpg") no-repeat, center;

  /* background-position: center; */
  background-size: cover;
}

.main-hero {
  padding: 0 50px;
}

.main-head {
  font-size: 40px;
  color: white;
  font-weight: 600;

  text-align: center;
}

.explore-btn {
  padding: 7px 24px;
  background-color: white;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 190px;
  font-weight: 700;
  transition: 0.3s ease;
  color: black;
}

.explore-btn:hover {
  background-color: black;
  color: white;
}

.enters {
  position: absolute;
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  bottom: -60px;
  border-radius: 15px;
  padding: 30px;
  background-color: white;
  height: auto;
}
.top-1 {
  border-radius: 8px;
  background-color: white;
  color: black;
  /* width: 100%; */
  border: 1px black solid;
  font-size: 14px;
  padding: 12px 34px;
}

.input-btn-top {
  border-radius: 8px;
  background-color: black;
  color: white;
  /* width: 100%; */
  /* border: 1px black solid; */
  font-size: 14px;
  padding: 12px 34px;
}

.inputs-main {
  margin-top: 20px;
}

.input-se {
  padding: 12px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  outline: none;
  padding-left: 40px;
  width: 100%; /* Make the input take full width */
}

/* Optionally, you can add your own custom focus styles */
.input-se:focus {
  outline: none; /* Ensure no outline on focus */
  /* Add any custom focus styles here, if needed */
}

.input-search {
  width: 100%; /* Ensure the container also takes full width */
}

.pin {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.swap {
  position: absolute;
  top: 50%;
  right: -8%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* .input-se::placeholder {
  padding-left: 30px; /* Adjust this padding based on icon position */

.results {
  font-size: 13px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ee408a;
  color: white;
  transition: 0.3s ease;
}

.results:hover {
  background-color: #bf3c75;
  color: white;
}

/* start */
.space-new {
  margin-top: 143px;
}

.container-timeline ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: inline-block;
  counter-reset: wa-process-counter;
}

.container-timeline {
  position: relative;
  padding: 40px;
}

.container-timeline ul li {
  list-style: none;
  margin: 0;
  border-left: 4px solid #ee408a;
  padding: 0 0 30px 56px;
  position: relative;
  counter-increment: wa-process-counter;
}

.rtl .container-timeline ul li {
  padding-left: 40px;
  padding-right: 0;
}

.container-timeline ul li:last-child {
  border: 0;
}

.container-timeline ul li::before {
  position: absolute;
  left: -4px;
  top: -19px;
  content: counter(wa-process-counter);
  /* border: 1px solid green; */
  border-radius: 0px;
  background: #ee408a;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 41px;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-weight: bold;
}

.rtl .container-timeline ul li::before {
  left: auto;
  right: 0;
}

.container-timeline p {
  font-size: 11px;
  line-height: 1.8em;
}

.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}

.timeline-area {
  padding: 80px 0;
}

.all-timelines {
  position: relative;
}

.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 20px;
}

.single-timeline {
  margin-bottom: 22px;
}

.timeline-blank {
  width: 50%;
}

.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.timeline-text h6 {
  color: #f0f1f2;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}

.timeline-text span {
  color: #f0f1f2;
  display: block;
  width: 100%;
}

.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}

.t-circle {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #efa22f;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.single-timeline:nth-child(even) .t-circle {
  right: -6px;
  left: unset;
}

.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

/* why chose us */
.why-main {
  padding: 20px 82px;
  background-color: #ffe7f1;
  width: 100%;
  margin-top: 40px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.img-why {
  width: 50%;
  height: auto;
}

.why-img {
  margin: auto;
  border-radius: 20px;
  padding: 30px;
}

.content-why {
  width: 50%;
}

.content-why h5 {
  margin-bottom: 20px;
  font-size: 27px;
}

.checkbox-why p {
  font-size: 13px;
  color: #ee408a;
  font-weight: 500;
}

.learn {
  padding: 10px 12px;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 13px;
}

.car2 {
  display: none;
}

.upper-h5 {
  display: none;
}

.why {
  padding: 0px 50px;
}

/* end why */

/* testimonalis start */

.why h2 {
  font-weight: 600;
  font-size: 30px;
}

.test-box {
  height: 32rem;
  width: 100%;
  border-radius: 10px;
}

.test-box i {
  font-size: 43px;
}

.test1 {
  background: url(/photo/test2.jpg), no-repeat, center;
  background-size: cover;
}

.test2 {
  background: url(/photo/test1.jpg), no-repeat, center;
  background-size: cover;
}

.test3 {
  background: url(/photo/test3.jpg), no-repeat, center;
  background-size: cover;
}

.test-box h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

/* .test-box p {
  font-size: 12px;
} */

/* end testimonals */

/* map image start */
.map-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.map-img img {
  width: 70%;
}
/* map end */

/* again banner start */

.again {
  height: 66vh;
  background: url("/photo/again.png") no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
}

.again .enters2 {
  /* position: absolute; */
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  bottom: 73px;
  right: 40px;
  border-radius: 15px;
  padding: 30px;
  background-color: white;
  height: auto;
}

.again h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.banner-info {
  padding: 0px 20px;
}

/* again banner end */

/* thing to do */
.things {
  background: #ffe7f1;
  margin: 100px 0px;
  padding: 80px;
  /* padding: 82px 237px; */
}

.things h3 {
  font-weight: 600;
  font-size: 17px;
}
.things p {
  text-align: center;
}

.boxes {
  width: 230px;
  margin: 0px 14px;
}
.boxes img {
  width: 60px;
}

.things p {
  font-size: 14px;
}
/* thing end */

/* start */
.accordion {
  max-width: 60%;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}
input[type="checkbox"] {
  display: none;
  appearance: none;
}
.accordion-item {
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 0.5em;
}
.accordion-item:not(:last-child) {
  margin-bottom: 1em;
}
.accordion-content {
  color: #606060;
  font-size: 0.8em;
  line-height: 1.8em;
}
label {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
}
input[type="checkbox"] ~ label .arrow {
  display: inline-block;
  transition: 1s;
}

input[type="checkbox"]:checked ~ label .arrow {
  transform: rotate(90deg);
}
input[type="checkbox"]:checked ~ label {
  color: #0083e9;
}
input[type="checkbox"] ~ .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
input[type="checkbox"]:checked ~ .accordion-content {
  max-height: 100vh;

  transition: 1s;
}
.alone {
  font-size: 30px;
}

/* end */

/* footer */
.footer {
  margin-top: 200px;
  background-color: #000000;
  padding-top: 40px;
}

.footer p {
  font-size: 12px;
}

.footer .line {
  height: 3px;
  border-radius: 8px;
  width: 80px;
  background-color: #ee408a;
}

.footer-cover {
  padding: 30px 80px;
}

.copy-right {
  background-color: #272829;
}
.copy-right p {
  font-size: 14px;
}

.footer-social-email input {
  font-size: 12px;
  padding: 10px;
  border-radius: 20px;
}

.email {
  background-color: white;
  color: #ee408a;
  font-size: 13px;
  padding: 10px 30px;
  border: 2px solid #ee408a;
  border-radius: 20px;
}

/* footer end */

@media (min-width: 980px) {
  .container-timeline ul {
    display: flex;
    align-items: start;
    padding: 30px;

    padding-top: 20px;
  }

  .container-timeline ul li {
    flex: 1 1 0;
    border-left: 0;
    border-top: 4px solid #ee408a;
    padding: 50px 1.3em 0 0;
  }
}

@media screen and (max-width: 1072px) {
  .why-img {
    margin: auto;
    border-radius: 20px;
    padding: 20px;
  }

  .test-box i {
    font-size: 18px;
  }

  .test-box h3 {
    font-size: 17px;
  }

  .test-box p {
    font-size: 12px;
  }

  .test-box {
    height: 24rem;
    width: 100%;
    border-radius: 10px;
  }

  .again h2 {
    color: white;
    font-size: 29px;
    font-weight: 600;
  }

  .content-why {
    width: 50%;
  }

  .why-main {
    padding: 20px 32px;
    background-color: #ffe7f1;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }

  .content-why h5 {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .checkbox-why p {
    font-size: 11px;
    color: #ee408a;
    font-weight: 500;
  }

  .learn {
    padding: 10px 18px;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 20px 0px;
    font-size: 13px;
  }

  .content-para {
    font-size: 11px;
  }

  .navbar {
    padding: 10px 80px;
  }

  .main-head {
    font-size: 30px;
    color: white;
    font-weight: 600;

    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }

  .things {
    background: #ffe7f1;
    margin: 74px 0px;
    padding: 49px;
    /* padding: 82px 237px; */
  }

  .again h2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .map-img img {
    width: 100%;
  }

  .test-box {
    height: 25rem;
    width: 100%;
    border-radius: 10px;
  }

  .why h2 {
    font-weight: 600;
    font-size: 20px;
    /* padding: 10px; */
    padding-left: 17px;
  }

  .test-box p {
    font-size: 12px;
  }

  #gayab {
    display: none;
  }

  #main {
    display: block;
  }

  .test-box h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-circle {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    color: white;
  }

  .things p {
    font-size: 11px;
  }

  .things h3 {
    font-weight: 600;
    font-size: 14px;
  }

  .test-box i {
    font-size: 28px;
  }

  .content-why {
    width: 80%;
  }

  .enters {
    width: 92%;
  }

  .explore-btn {
    padding: 6px 19px;
    background-color: white;
    border-radius: 6px;
    font-size: 11px;
    margin-bottom: 190px;
    font-weight: 700;
    transition: 0.3s ease;
    color: black;
  }

  .top-1 {
    border-radius: 4px;
    background-color: white;
    color: black;
    /* width: 100%; */
    border: 1px black solid;
    font-size: 10px;
    padding: 8px 12px;
  }

  .input-btn-top {
    border-radius: 4px;
    background-color: black;
    color: white;
    /* width: 100%; */
    /* border: 1px black solid; */
    font-size: 10px;
    padding: 8px 12px;
  }

  .pin {
    font-size: 11px;
  }

  .input-se {
    padding: 9px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
    font-size: 11px;
    outline: none;
    padding-left: 27px;
    width: 100%;
  }

  .swap {
    position: absolute;
    top: 50%;
    right: -13%;
    font-size: 11px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .main-hero {
    padding: 0px;
  }

  .main-head {
    font-size: 29px;
  }

  .navbar li {
    display: none;
  }

  .fix-navbar {
    position: fixed;
    z-index: 99;
    border-radius: 0px;
    background: transparent;
    width: 100%;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 766px) {
  .why-img {
    display: none;
    padding: 0px;
    border-radius: 1px;
  }

  .content-why h5 {
    display: none;
  }

  .container-timeline ul li::before {
    height: 33px;
    width: 33px;
  }

  .content-why {
    margin-top: 10px;
  }

  .img-why {
    width: 88%;
    height: auto;
  }

  .why {
    padding: 0px;
  }

  .why-main {
    padding: 0px;
    flex-direction: column;
  }

  .upper-h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .car2 {
    display: block;
  }
}

@media all and (max-width: 426px) {
  .all-timelines::before {
    top: 32px;
  }

  .main-head {
    font-size: 17px;
  }

  .footer-cover {
    padding: 30px 39px;
  }

  .accordion {
    max-width: 91%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .accordion img {
    max-width: 28%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .accordion span {
    font-size: 13px;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .alone {
    font-size: 19px;
  }

  .container-timeline {
    position: relative;
    padding: 15px;
  }

  .thingsto {
    background: #ffe7f1;
    margin-top: 315px;
    padding: 43px;
    /* padding: 82px 237px; */
  }

  .again .enters2 {
    position: absolute;
    width: 100%;
    /* display: none; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    bottom: -252px;
    right: 0px;
    border-radius: 15px;
    padding: 17px;
    background-color: white;
    height: auto;
  }

  .again {
    height: 45vh;
    background: url(/photo/again.png) no-repeat center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 11px;
    border-radius: 20px;
  }
}
